---
---

@import "{{ site.theme }}";

.inner { max-width: 960px; }
.screenshots { box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1); }

h1 { text-transform: capitalize; }
#main_content h1 { display: none; }
img { box-shadow: none !important; }
